<%- include('partials/header'); -%>
<a href='/editprofile' class="edit">Edit Profile</a>
<video src="vid.mp4" muted loop autoplay> </video>
<div class="courses">
  <h2 style="font-size: 50px;color: white;text-shadow: 3px 3px #000;">Courses</h2>
<ul class="datas">
    <li class="data">
      <iframe width="300" height="250" src="https://www.youtube.com/embed/pQN-pnXPaVg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h2>HTML</h2>
    <p style="text-align: center;margin-left: 20px;margin-right: 20px;">Learn the basics of HTML5 and web development in this awesome course for beginners</p>
  </li>
  <li class="data">
    <iframe width="300" height="250" src="https://www.youtube.com/embed/yfoY53QXEnI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h2>CSS</h2>
  <p style="text-align: center;margin-left: 20px;margin-right: 20px;">Learn the basics of CSS and styles in this awesome course for beginners</p>
</li>

<li class="data">
  <iframe width="300" height="250" src="https://www.youtube.com/embed/W6NZfCO5SIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>JAVASCRIPT</h2>
<p style="text-align: center;margin-left: 20px;margin-right: 20px;">Watch this JavaScript tutorial for beginners to learn JavaScript basics in one hour</p>
</li>

<li class="data">
  <iframe width="300" height="250" src="https://www.youtube.com/embed/WGJJIrtnfpk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>PYTHON</h2>
<p style="text-align: center;margin-left: 20px;margin-right: 20px;">Python Full Course will help you learn the Python programming language and its core concepts with examples from scratch</p>
</li>

<li class="data">
  <iframe width="300" height="250" src="https://www.youtube.com/embed/GQp1zzTwrIg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>C++</h2>
<p style="text-align: center;margin-left: 20px;margin-right: 20px;">In this C++ full course tutorial for beginners video, you will learn about the essential C++ topics and concepts</p>
</li>

<li class="data">
  <iframe width="300" height="250" src="https://www.youtube.com/embed/nU-IIXBWlS4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>DIGITAL MARKETING</h2>
<p style="text-align: center;margin-left: 20px;margin-right: 20px;">This Digital Marketing Course video is the first part of a series that will have everything you need to know about Digital Marketing</p>
</li>


</ul>
</div>
<%- include('partials/footer'); -%>