<%- include('partials/header') -%>



<div class="banner-area">
  <h2>Have A Break.<br> Have A Education</h2>
  <p style="font-weight: 600;font-size: 40px;padding-top: 35px;color: black;">Start Learning Today !</p>
  <a href="/signup" class="btn">Get Started !</a>
  <a href="/courses" class="btn">Browse Courses</a>
</div>
<div class="content-area">
  <div class="wrapper">
    <h2>About</h2>
    <p>Edu Glass Courses provides free and open access to a selection of introductory courses taught by distinguished teachers . The aim of the project is to expand access to educational materials for all who wish to learn. All lectures were recorded in the Edu Glass classroom and are available in video, audio, and text transcript formats.No course credit, degree, or certificate is available through the Edu Glass Courses website.<br>
      We welcome you to explore Edu Glass Courses where you can discover a wide range of timely and timeless topics taught by professors, each with a unique perspective and an individual interpretation of a particular field of study. We hope the lectures and other course materials, which reflect the values of a Yale liberal arts education, inspire your own critical thinking and creative imagination. We greatly appreciate your enthusiastic response to this initiative and hope you will stay in touch!
    </p>
  </div>
</div>
</div>

<!--
  <div class="card">  
  <div class="headings">
    <h2>Your Door To The Future</h2><hr>
    <h3>Live as if you were to die tomorrow.Learn as if you were to live forever.</h3><hr>
    <a href="/signup" class="btn">Get Started !</a>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
  </div>-->

<%- include('partials/footer'); -%>
